
- var pageTitle = page.title || config.subtitle || ''

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='google-site-verification' content='MGkmt8k-JS4yE1jlkL1vKcsX6VXUfsqwYCdW8TaSpPU')
    title= pageTitle
    link(rel="icon", href='/images/favicon.ico')
    link(rel='stylesheet', href='/css/normalize.min.css')
    link(rel='stylesheet', href='/css/hexo-theme-adoubi.min.css')
    script(src='/js/google-analytics.min.js')

  body
    div.header
      a.github-link(href=theme.github, target='_blank')
        img.github-image(src='/images/Aquicon-Github-small.png')
      a.email-link(href='mailto:' + theme.email)
        img.email-image(src='/images/email-small.png')
      a.subscribe-link(href="/atom.xml")
        img.subscribe-image(src='/images/subscribe-small.png')
    div.content
      block content
    div.footer
        div.footer-copyright
          //| Theme By &nbsp;
          //a(href="https://github.com/shinux/hexo-theme-adoubi")="Adoubi"
          //|   Powered By &nbsp;
          //a(href="https://hexo.io/")="Hexo"
          //| .
          //a(href="/about")="keep real"


