footer#footer
    div#social
        a.symbol(href='')
            i.fa.fa-github
    p.small © Copyright 2018
        i.fa.fa-heart(aria-hidden='true') Dxx
    p.small Powered by
        a(href='') Hexo
        | Theme By Dxx

